@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Marck+Script');

/* font-family: 'Alfa Slab One', cursive; */
/* font-family: 'Marck Script', cursive; */

/* ------
global styles
-------*/

body {
  /* background-image: url("../images/brown.jpeg"); */
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
  padding-bottom: 25px;
}

h2 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 20px;
}

/* ------
board styles
-------*/
.sem-1 {
  height: 1000px;
  background:
    radial-gradient(#c37a35 15%, transparent 16%) 0 0,
    radial-gradient(#c37a35 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(203,134,60,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(206,134,60,.1) 15%, transparent 20%) 8px 9px,
    linear-gradient(rgba(183,120,49,0.6),rgba(183,120,49,.3));
  background-color:#ce863c;
  background-size:8px 8px;
  border: 15px ridge;
  border-color: #9e4c12;
  /* background-image: linear-gradient(#c27a32, #9a4e02); */
}

.title1 {
  display: inline-block;
  margin-top: 10vh;
  margin: 10px;
  padding: 5px 10px;
  background-color: white;
}

img {
  float: left;
  width: 40%;
  margin-left: 10vh;
}
