@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Dancing+Script:400,700|Just+Another+Hand|Open+Sans+Condensed:700|Pacifico|Permanent+Marker');

/* font-family: 'Alfa Slab One', cursive; */
/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Just Another Hand', cursive;*/

/* ------
global styles
-------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #EFE5B8;
}

.img {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}
.year-1 {
  height: 14vw;
  width: 14vw;
  position: absolute;
  top: 2vh;
  left: 4vw;
  z-index: 50;
  background-image: url("../images/note.png");
  background-size: cover;
  font-family: 'Pacifico', cursive;
}

.year-1 > p {
  line-height: 8vw;
  font-size: 2.5vw;
  text-align: center;
  transform: rotate(-5deg);
  color: #CE3835;
}

.content-wrap {
  width: 90vw;
  margin-top: 40vh;
  margin: 0 auto;
  padding: 4vw;
  overflow: hidden;
}

h2 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 20px;
}

.ntObj {
  box-shadow: 0.1vw 0.1vw 0.6vw black;
}


/* header styles */
header {
  position: absolute;
  left: 70vw;
  top:3vw;
  overflow: hidden;
  width: 30vw;
  height: 10vw;
  /* background-color: red; */
  background-image: url("../images/lights-1.png");
  background-size: cover;
  transform: rotate(20deg);
  z-index: 100;
}

/* ------
board styles
-------*/

/* sem 1 */

.sem-1 {
  height: 190vw;
  width: 85vw;
  position: relative;
  background:
    radial-gradient(#c37a35 15%, transparent 16%) 0 0,
    radial-gradient(#c37a35 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(203,134,60,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(206,134,60,.1) 15%, transparent 20%) 8px 9px,
    linear-gradient(rgba(183,120,49,0.6),rgba(183,120,49,.3));
  background-color:#ce863c;
  background-size:8px 8px;
  border: 2vw ridge;
  border-color: #A86110;
}

.pin-img {
  float: left;
  position: relative;
  width: 40%;
  margin-left: 3vw;
  transform: rotate(-8deg);
  z-index: 30;
}

.note-1 {
  height: 20vw;
  width: 38vw;
  margin: 2vw 1vw 2vw 1vw;
  background-color: #F2FBFF;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 2vw;
  font-size: 2.2vw;
  float: left;
  z-index: 20;
  padding: 1.2vw 1.2vw;
  position: relative;
  font-weight: 700;
  color: #424749;
}

.sem-1 .note-1 {
  transform: rotate(5deg);
  transform: translateX(-2vw);
}

.note-1 .nt {
  transform: rotate(-10deg);
  font-family: 'Dancing Script', cursive;
}

.pin-3 {
  position: absolute;
  top: 7vw;
  right: 10vw;
  height: 4vw;
  width: 4vw;
  background-image: url("../images/pin-4.png");
  background-size: cover;
  z-index: 30;
}

.pin {
  position: absolute;
  top: 1vw;
  left: 0.5vw;
  z-index: 200;
  height: 3.5vw;
  width: 3.5vw;
}
.first {
  height: 33vw;
  width: 80vw;
  margin: 3vw auto;
  margin-top: 5vw;
}

/* part2 */

.second {
  display: grid;
  height: 25vw;
  width: 70vw;
  margin: 5vh auto;
  grid-template-columns: 23.5% 23.5% 27% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-column-gap: 1vw;
}

.sticky-note > p {
line-height: 2vw;
font-size: 1.5vw;
text-align: center;
transform: rotate(-8deg);
}

.grdBig {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  background-image: url("../images/sem-1-2.jpg");
  background-size: cover;
}

.grdSmall1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #FFCAD4;
  background-image:
  linear-gradient(90deg, transparent 79px, #8e8789 79px, #8e8789 81px, transparent 81px),
  linear-gradient(#a9b6c6 .1em, transparent .1em);
  background-size: 100% 2vw;
  transform: translateY(4vw);
  padding: 0 1.2vw;
  font-family: 'Just Another Hand', cursive;
}

.grdSmall1 > p {
  line-height: 2.6vw;
  font-size: 2.6vw;
  color: #3F2626
}

.grdSmall2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: radial-gradient(#f2e35f, #f5ed73);
  transform: translateY(-7vw);
}

.grdSmall3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  background-image: radial-gradient(#f2e35f, #f5ed73);
  margin-top: 1vw;
  transform: translateY(-6vw);
}

.sticky-note {
  font-family: 'Permanent Marker', cursive;
  color: #444;
}
.sn1 > p {
  line-height: 5vw;
  text-align: center;
  transform: rotate(0deg);
}
/* part third */
.third {
  height: 30vw;
  width: 75vw;
  margin: 1vw auto;
}

.third > p {
  margin-right: 4vw;
  margin-left: 2vw;
}

.pin-1 {
  width: 2.5vw;
  height: 2.5vw;
  left: 2vw;
}

.note-3 {
  float: left;
  background-color: #eae6cc;
  background-image:
  linear-gradient(90deg, transparent 79px, #BF9999 79px,#BF9999 81px, transparent 81px),
  linear-gradient(#BF9999 .05em, transparent .05em);
  background-size: 100% 2vw;
  font-size: 2vw;
  height: 25vw;
  width: 35vw;
  padding: 2vw 1.5vw;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  color: #302512;
}

.pin-img-1 {
  margin-left: -1vw;
}

/* part four */
.fourth {
  height: 50vw;
  width: 80vw;
  margin: 2vw auto;
  margin-left: 3vw;
}
.fourth > div:nth-child(odd) {
  position: relative;
  display: inline-block;
  background-color: green;
  height: 25vw;
  width: 33vw;
  margin: 0.3vw;
}
.fourth > div:nth-child(even) {
  position: relative;
  display: inline-block;
  background-color: green;
  height: 25vw;
  width: 35vw;
  margin: 0.3vw;
}

.note-4 {
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #eff9ff 79px, #eff9ff 81px, transparent 81px);
  background-size: 100% 2vw;
  font-size: 3vw;
  height: 20vw;
  width: 40vw;
  margin-left: 12vw;
  margin-top: 2vw;
  padding: 0 1.2vw;
  z-index: 30;
  position: relative;
}

.note-4 > p {
  height: 4vw;
  padding-top: 3vw;
  text-align: left;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  color: #a5452b;
}

.pizza-img {
  height: 3.5vw;
  width: 3.5vw;
  position: absolute;
  top: -2vw;
  right: -2vw;
  z-index: 300;
  background-image: url("../images/pizza.png");
  background-size: cover;
  transform: rotate(10deg);
}
.pizza-img2 {
  height: 3.5vw;
  width: 3.5vw;
  position: absolute;
  bottom: -1.5vw;
  left: -1.5vw;
  z-index: 300;
  background-image: url("../images/pizza.png");
  background-size: cover;
  transform: rotate(-170deg);
}

.img-1 {
  background-image: url("../images/sem-2-1.jpg");
  background-size: cover;
}

.img-2 {
  background-image: url("../images/sem2.jpg");
  background-size: cover;
}

.img-3 {
  background-image: url("../images/summer.jpg");
  background-size: cover;
}

.img-4 {
  background-image: url("../images/sem-2-2.jpg");
  background-size: cover;
}

/* media queries */

@media screen and (max-width: 700px) {
  .sem-1 {
    height: 420vw;
  }
  /* first part */
  .first {
    height: 94vw;
  }
  .pin-img {
    width: 80%;
    margin-left: 4vw;
  }
  .pin {
    width: 5vw;
    height: 4.5vw;
  }
  .note-1 {
    width: 72vw;
    height: 30vw;
    background-size: 100% 3.5vw;
    font-size: 3.5vw;
    left: 2vw;
  }
  .note-1 .nt {
    transform: rotate(-3deg);
  }
  .pin-3 {
    top: 67vw;
    right: 8vw;
  }

  /* second part */
  .second {
    width: 72vw;
    height: 100vw;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 25% 25%;
    grid-gap: 1vw;
  }

  .grdBig {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .grdSmall1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    background-size: 100% 5vw;
    transform: none;
  }

  .grdSmall1 > p {
    line-height: 4vw;
    font-size: 5vw;
  }

  .grdSmall2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    transform: none;
  }

  .grdSmall3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    transform: none;
  }

  .sticky-note > p {
    font-size: 4vw;
    line-height: 4vw;
  }

  /* third part */
  .third {
    height: 110vw;
  }
  .note-3 {
    height: 45vw;
    width: 60vw;
    font-size: 4vw;
    line-height: 4.5vw;
    background-size: 100% 5vw;
  }
  /* last part */
  .note-4 {
    margin-top: 2vw;
    height: 30vw;
    font-size: 4vw;
  }

  .pizza-img, .pizza-img2 {
    width: 5vw;
    height: 5vw;
  }

}
