@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Marck+Script');

/* font-family: 'Alfa Slab One', cursive; */
/* font-family: 'Marck Script', cursive; */

/* ------
global styles
-------*/

body {
  /* background-image: url("../images/brown.jpeg"); */
}

img {
  float: left;
  width: 40%;
  margin-left: 5vh;
  transform: rotate(-8deg);
  z-index: 30;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
  padding-bottom: 25px;
}

h2 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 20px;
}

/* ------
board styles
-------*/
.sem-1 {
  height: 1000px;
  background:
    radial-gradient(#c37a35 15%, transparent 16%) 0 0,
    radial-gradient(#c37a35 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(203,134,60,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(206,134,60,.1) 15%, transparent 20%) 8px 9px,
    linear-gradient(rgba(183,120,49,0.6),rgba(183,120,49,.3));
  background-color:#ce863c;
  background-size:8px 8px;
  border: 15px ridge;
  border-color: #9e4c12;
}

.title1 {
  display: inline-block;
  font-size: 150%;
  margin: 10px;
  margin-top: 2vh;
  padding: 5px 10px;
  background-color: white;
  z-index: 100;
}

.note {
  height: 200px;
  max-width: 50%;
  margin: 5vh 2vh 5vh 5vh;
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  float: left;
  z-index: 20;
}

.pin {
  float: left;
  z-index: 100;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border-color: red;
  background-color: red;
}
